<!doctype html>
<html lang="en" ng-app="musicPlayer">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify on Browser</title>
  </head>

  <body>
    <div ng-controller="musicPlayerCtrl">
      <div class="toolbar navbar-fixed-top">
        <div class="toolbar-left">
          <a
            href=""
            data-toggle="tooltip"
            data-placement="bottom"
            title="Open Spotify"
            ng-click="openTrackLink()"
          >
            <img
              src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/favicon-32x32.png"
              alt="Spotify"
            />
          </a>
        </div>

        <!-- Modern Pill Tab Switcher -->
        <div class="tab-switcher">
          <div
            class="tab-pill"
            ng-style="{'transform': 'translateX(' + (activeTab === 'library' ? '100%' : '0') + ')'}"
          ></div>
          <button
            class="tab-btn"
            ng-class="{'active': activeTab === 'playing'}"
            ng-click="activeTab = 'playing'"
          >
            <i class="fa fa-play"></i> Playing
          </button>
          <button
            class="tab-btn"
            ng-class="{'active': activeTab === 'library', 'disabled': !isSpotifyReady || errorMessage}"
            ng-click="switchToLibrary()"
            ng-disabled="!isSpotifyReady || errorMessage"
          >
            <i class="fa fa-bookmark"></i> Library
          </button>
        </div>

        <div class="toolbar-right">
          <a
            href=""
            data-toggle="tooltip"
            data-placement="bottom"
            title="Settings"
            ng-click="openOptions()"
          >
            <i class="fa fa-cog" aria-hidden="true"></i>
          </a>
          <a
            href=""
            data-toggle="tooltip"
            data-placement="bottom"
            title="Help"
            ng-click="openHelpLink()"
          >
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <!-- Playing View -->
      <div class="player-context" ng-show="activeTab === 'playing'">
        <div class="text-center preliminary">
          <img
            ng-src="{{albumImage.url}}"
            class="active"
            ng-if="albumImage && !errorMessage"
          />
          <div ng-if="!spotifyState" class="loading-state">
            <i class="fa fa-spinner fa-spin"></i>
            <p>Connecting to Spotify...</p>
          </div>
          <div ng-if="spotifyState && errorMessage" class="error-message">
            <i class="fa fa-warning"></i>
            {{errorMessage}}
            <a
              ng-if="errorLink"
              ng-href="{{errorLink}}"
              target="_blank"
              class="error-link"
            >
              <i class="fa fa-external-link"></i> How to fix
            </a>
          </div>
          <a
            href=""
            ng-if="spotifyState && !isSpotifyReady && !errorMessage"
            ng-click="toggleAction()"
          >
            Authorize Spotify on {{browserName}}
          </a>
          <a
            href=""
            ng-if="!trackName && isSpotifyReady"
            ng-click="toggleAction('togglePlay')"
          >
            Start to play
          </a>
          <div ng-if="trackName && !errorMessage" class="track-wrapper">
            <p class="track-name" title="{{trackName}}">
              <a target="_blank" ng-href="{{trackHref}}"> {{trackName}} </a>
            </p>
            <p class="artist-name ellipsis">
              <a target="_blank" ng-href="{{artistHref}}"> {{artistName}} </a>
            </p>

            <div
              class="button saved-track"
              ng-hide="trackSaved == undefined"
              ng-disabled="savingTrack"
              ng-click="toggleSavedTrack()"
              data-toggle="tooltip"
            >
              <i
                class="fa"
                ng-class="{'fa-heart': trackSaved, 'fa-heart-o': !trackSaved}"
              ></i>
            </div>
          </div>
        </div>

        <!-- Seekbar -->
        <div class="seekbar-container" ng-show="trackName && !errorMessage">
          <span class="time-current">{{currentTimeFormatted || '0:00'}}</span>
          <div class="seekbar-track" ng-click="seekTo($event)">
            <div
              class="seekbar-progress"
              ng-style="{'width': progressPercent + '%'}"
            ></div>
            <div
              class="seekbar-thumb"
              ng-style="{'left': progressPercent + '%'}"
            ></div>
          </div>
          <span class="time-duration">{{durationFormatted || '0:00'}}</span>
        </div>
      </div>
      <div class="player-content" ng-show="activeTab === 'playing'">
        <div id="album-art">
          <a target="_blank" ng-href="{{albumHref}}">
            <img
              ng-src="{{artistImage.url || albumImage.url}}"
              ng-class="{'active': playing}"
              ng-if="artistImage || albumImage"
            />
          </a>
        </div>

        <!-- Queue Backdrop -->
        <div
          class="queue-backdrop"
          ng-show="showQueue"
          ng-click="closeQueue()"
        ></div>

        <!-- Queue Panel -->
        <div class="queue-panel" ng-show="showQueue">
          <div class="queue-header">
            <span>Up Next</span>
            <span class="queue-count" ng-if="queue.length"
              >{{queue.length}}</span
            >
          </div>
          <div class="queue-list">
            <div
              class="queue-item"
              ng-repeat="track in queue | limitTo:100"
              ng-click="playQueueTrack(track)"
              data-toggle="tooltip"
              data-container="body"
              title="{{track.name}} - {{track.artists[0].name}}"
            >
              <img
                ng-src="{{track.album.images[track.album.images.length-1].url}}"
                ng-if="track.album.images.length"
              />
              <div class="queue-item-info">
                <p class="queue-track-name">{{track.name}}</p>
                <p class="queue-artist-name">{{track.artists[0].name}}</p>
              </div>
            </div>
            <div class="queue-empty" ng-if="queueNeedsReauth">
              <p>Permission needed</p>
              <a href="#" ng-click="openReauth()" class="reauth-link"
                >Re-authorize to view queue</a
              >
            </div>
            <div class="queue-empty" ng-if="!queue.length && !queueNeedsReauth">
              <p>Queue is empty</p>
            </div>
          </div>
        </div>

        <div id="player-controls">
          <div class="control">
            <div
              class="button"
              ng-class="{'active': showQueue}"
              ng-click="toggleQueue()"
              data-toggle="tooltip"
              title="Queue"
            >
              <i class="fa fa-list"></i>
            </div>
          </div>
          <div
            class="control"
            data-toggle="tooltip"
            title="{{!canSeekPrev ? 'No previous track' : 'Previous'}}"
          >
            <div
              class="button"
              ng-disabled="!canSeekPrev"
              ng-click="toggleAction('previousTrack')"
            >
              <i class="fa fa-step-backward"></i>
            </div>
          </div>
          <div class="control">
            <div
              class="button"
              ng-disabled="!canPause"
              ng-if="playing"
              ng-click="toggleAction('togglePlay')"
            >
              <i class="fa fa-pause"></i>
            </div>
            <div
              class="button"
              ng-if="!playing"
              ng-click="toggleAction('togglePlay')"
            >
              <i class="fa fa-play"></i>
            </div>
          </div>
          <div
            class="control"
            data-toggle="tooltip"
            title="{{!canSeekNext ? 'No next track' : 'Next'}}"
          >
            <div
              class="button"
              ng-disabled="!canSeekNext"
              ng-click="toggleAction('nextTrack')"
            >
              <i class="fa fa-step-forward"></i>
            </div>
          </div>

          <div
            class="control playback-mode-toggle"
            data-toggle="tooltip"
            title="{{!canToggleShuffle && !canToggleRepeat ? 'Playback mode change not allowed for this track' : (playbackMode === 'shuffle' ? 'Current mode: Shuffle' : (playbackMode === 'repeat' ? 'Current mode: Repeat One' : 'Current mode: Normal'))}}"
          >
            <div
              class="button playback-mode-btn"
              ng-class="{'active': playbackMode !== 'off', 'disabled': !canToggleShuffle && !canToggleRepeat}"
              ng-disabled="!canToggleShuffle && !canToggleRepeat"
              ng-click="togglePlaybackMode()"
            >
              <i
                class="fa"
                ng-class="{'fa-random': playbackMode !== 'repeat', 'fa-repeat': playbackMode === 'repeat', 'fa-ban': !canToggleShuffle && !canToggleRepeat}"
              ></i>
            </div>
          </div>

          <div
            class="control volume-wrapper"
            ng-disabled="currentVolume == null || !trackName"
          >
            <div
              class="button"
              ng-disabled="currentVolume == null || !trackName"
            >
              <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <input
              type="range"
              id="volume-slider"
              min="0"
              max="100"
              ng-model="currentVolume"
              class="volume-slider"
            />
          </div>
        </div>
      </div>

      <!-- Library View -->
      <div class="library-view" ng-show="activeTab === 'library'">
        <div class="library-section">
          <h3 class="section-title">Music</h3>
          <div class="playlist-grid">
            <!-- Liked Songs -->
            <div
              class="playlist-card"
              ng-click="playLikedSongs()"
              data-toggle="tooltip"
              title="Liked Songs"
            >
              <div class="playlist-cover liked-songs-cover">
                <i class="fa fa-heart"></i>
              </div>
              <p class="playlist-name">Liked Songs</p>
            </div>
            <!-- Saved Albums -->
            <div
              class="playlist-card"
              ng-repeat="album in savedAlbums"
              ng-click="playAlbum(album)"
              data-toggle="tooltip"
              title="Saved Album: {{album.name}}"
            >
              <div class="playlist-cover album-cover">
                <img
                  ng-src="{{album.images[0].url}}"
                  ng-if="album.images.length"
                />
                <i class="fa fa-compact-disc" ng-if="!album.images.length"></i>
              </div>
              <p class="playlist-name">{{album.name}}</p>
            </div>
            <!-- User Playlists -->
            <div
              class="playlist-card"
              ng-repeat="playlist in playlists"
              ng-click="playPlaylist(playlist)"
              data-toggle="tooltip"
              title="My Playlist: {{playlist.name}}"
            >
              <div class="playlist-cover playlist-user-cover">
                <img
                  ng-src="{{playlist.images[0].url}}"
                  ng-if="playlist.images.length"
                />
                <i class="fa fa-music" ng-if="!playlist.images.length"></i>
              </div>
              <p class="playlist-name">{{playlist.name}}</p>
            </div>
            <!-- Featured Playlists -->
            <div
              class="playlist-card"
              ng-repeat="playlist in featuredPlaylists"
              ng-click="playPlaylist(playlist)"
              data-toggle="tooltip"
              title="Featured Playlist: {{playlist.name}}"
            >
              <div class="playlist-cover featured-cover">
                <img
                  ng-src="{{playlist.images[0].url}}"
                  ng-if="playlist.images.length"
                />
                <i class="fa fa-fire" ng-if="!playlist.images.length"></i>
              </div>
              <p class="playlist-name">{{playlist.name}}</p>
            </div>
          </div>
        </div>

        <div class="library-section">
          <h3 class="section-title">Podcasts</h3>
          <div class="playlist-grid">
            <div
              class="playlist-card"
              ng-repeat="show in savedShows"
              ng-click="playShow(show)"
              data-toggle="tooltip"
              title="My Podcast: {{show.name}}"
            >
              <div class="playlist-cover podcast-cover">
                <img
                  ng-src="{{show.images[0].url}}"
                  ng-if="show.images.length"
                />
                <i class="fa fa-podcast" ng-if="!show.images.length"></i>
              </div>
              <p class="playlist-name">{{show.name}}</p>
            </div>
            <div class="playlist-card empty-state" ng-if="!savedShows.length">
              <p>No podcasts</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
